<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- index.js 추가 -->
<!--
  spring boot에서 src/main/resources/static에 위치한 자바스크립트, css, 이미지 등 정적 파일들은
   `/` ( 절대 경로 )로 URL이 설정됨
   ( 예시 ) src/main/resources/static/js/.. => http://도메임/js/... )
-->
<script src="/js/app/index.js"></script>
</body>
</html>